body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1
}

.bg-color{
  background-color: #07AB80; 
}

.font-bg-color{
  color: #07AB80; 
}

.bg-color-white{
  background-color: white;
}

.bg-color-offwhite{
  background-color: rgb(219, 219, 219);
}

.lg-font{
  font-size: 50px;
}

.md-font{
  font-size: 35px;
}

.bg-main-img {
  background-image: url('bg-img.jpeg');
  /* NOTE use the percentages to to get a more exact fit and position */
  /* background-size: 112%;
  background-position: 18% 33%; */
  background-size: cover;
  background-position: center;
  min-height: 30vh;
}

.card{
  box-shadow: 0px 4px 4px rgba(49, 49, 49, 0.5);
  border-radius: 0rem;
}

.border-start-fancy{
  border-left: 5px solid #07AB80;
}

/* @media (min-width: 992px) {
  .card-spill{
    position: absolute;
  }
} */
